---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - zebonitinho@fckya.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"254883","entities":{"urls":[],"hashtags":[],"user_mentions":[]},"in_reply_to_user_id_str":"","contributors":null,"text":"Use
        the bluetooth JSON matrix, then you can calculate the primary sensor!","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":0,"in_reply_to_status_id_str":"","id":254883,"geo":null,"retweeted":false,"in_reply_to_user_id":null,"place":null,"favorite_count":0,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Desmond
        Dr Von","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"138541","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":2,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":138541,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":54,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":54,"following":null,"show_all_inline_media":false,"screen_name":"desmond_dr_von"},"in_reply_to_screen_name":"","source":"web","in_reply_to_status_id":null},{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"535089","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"monserrate_kutch","name":"Monserrate
        Kutch","id":246241,"id_str":"246241","indices":[1,18]}]},"in_reply_to_user_id_str":"246241","contributors":null,"text":"@monserrate_kutch
        You can''t bypass the transmitter without backing up the digital PNG ca","metadata":{"iso_language_code":"[...]
