---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - zebonitinho@fckya.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"164129","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"beahan_phoebe_dds","name":"Beahan
        Phoebe Dds","id":292331,"id_str":"292331","indices":[1,19]}]},"in_reply_to_user_id_str":"292331","contributors":null,"text":"@beahan_phoebe_dds
        Use the mobile CSS interface, then you can parse the digital","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":1,"in_reply_to_status_id_str":"39166","id":164129,"geo":null,"retweeted":true,"in_reply_to_user_id":292331,"place":null,"favorite_count":320,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Dooley
        Shemar Dr","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"254173","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":0,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":254173,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":166,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":166,"following":null,"show_all_inline_media":false,"screen_name":"dooley_shemar_dr"},"in_reply_to_screen_name":"beahan_phoebe_dds","source":"web","in_reply_to_status_id":39166},{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"171876","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"hagenes_savannah","name":"Hagenes
        Savannah","id":18359,"id_str":"18359","indices":[1,18]}]},"in_reply_to_user_id_str":"18359","contributors":null,"text":"@hagenes_savannah
        The IB matrix is down, parse the mobile matrix so we can input the SMTP matr","metadata":{"iso_language_code[...]
