---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - thiagofelipepecanha@gmail.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"901758","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"locaweb","name":"Locaweb","id":42,"id_str":"42","indices":[52,60]}]},"in_reply_to_user_id_str":"","contributors":null,"text":"If
        we override the matrix, we can get to the EXE sy @locaweb ","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":0,"in_reply_to_status_id_str":"","id":901758,"geo":null,"retweeted":false,"in_reply_to_user_id":null,"place":null,"favorite_count":168,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Emely
        Kilback","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"367012","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":29,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":367012,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":289,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":289,"following":null,"show_all_inline_media":false,"screen_name":"emely_kilback"},"in_reply_to_screen_name":"","source":"web","in_reply_to_status_id":null},{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"177709","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"torphy_naomie","name":"Torphy
        Naomie","id":110940,"id_str":"110940","indices":[1,15]}]},"in_reply_to_user_id_str":"110940","contributors":null,"text":"@torphy_naomie
        You can''t back up the card without bypassing the haptic SMTP ","metadata":{"iso_language_code":"pt","result_type":"[...]
